<h1>Project Google Maps</h1>

<div>

    
</div>
   <form id="mapform" action='' method="post">
        <fieldset>
          <label for="latitude">Latitude</label>
          <input id="latitude" type="number" name="latitude" value="0">
          <label for="longitude">Longitude</label>
          <input id="longitude" type="number" name="longitude" value="0">
          <input id="submit" type="submit" value="Mark" >
        </fieldset>
      </form>

<div id="googleMap"></div>

